.feed{
    width: 100%;
    height: calc(100vh - 100px);
    /*box-shadow: 0 0 5px rgba(0,0,0,0.4);*/
    overflow-x: hidden;
}

.feed-post{
    margin-bottom: 20px;
    border: 1px solid #cecece;
    padding: 10px;
}

.feed-post .author,
.feed-post .post-date,
.feed-post .likes-counter,
.feed-post .delete-post{
    font-size: 12px;
}


.feed-post .post-content{
    padding: 20px 0;
}

.feed-post .like-icon{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(images/like.png) 50% 50% no-repeat;
}

.newPost textarea{
    width: 100%;
    min-height: 150px;
}

.newPost #nickname,
.newPost .full-width-field{
    width: 90%;
    margin-left: 10px;
}

.newlink label,
.newvideo label{
    margin-bottom: 0;
}

.attachment_preview img{
    max-width: 100%;
}