<h3>Feed</h3>
<div class="feed">
    <div class="feed-post" ng-repeat="post in posts">
        <div class="row">
            <div class="col-6 author">{{post.nickname}}</div>
            <div class="col-6 text-right post-date">{{post.date_added | date:'dd.MM.yyyy HH:mm' }}</div>
        </div>
        <div class="post-content" ng-if="post.content.length" ng-bind-html="post.content"></div>
        <div class="attachments" ng-if="post.attachments.length">
            <div class="attachment_preview mb-1" ng-repeat="attachment in post.attachments">
                <div ng-if="(attachment.attachment_type == ATTACHMENT_URL)">
                    <a href="{{attachment.preview}}">{{attachment.preview}}</a>
                </div>
                <div ng-if="(attachment.attachment_type == ATTACHMENT_YOUTUBE)">
                    <a href="https://www.youtube.com/watch?v={{attachment.preview}}" target="_blank">
                        <img ng-src="https://img.youtube.com/vi/{{attachment.preview}}/hqdefault.jpg" alt="">
                    </a>
                </div>
                <div ng-if="(attachment.attachment_type == ATTACHMENT_PICTURE)">
                    <a href="{{attachment.preview}}"><img ng-src="{{attachment.preview}}" alt="picture attachment"></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div ng-if="post.can_delete" class="delete-post">
                    <a href="#" ng-click="deletePost(post.id)"><u>delete post</u></a>
                </div>
            </div>
            <div class="col-6">
                <div class="likes-wrapper text-right">
                    <a href="#" ng-click="toggleLike(post.id)" class="like-icon"><img ng-src="images/like.png" alt="" width="20"></a>
                    <span class="likes-counter">{{post.likes_count}}</span>
                </div>
            </div>
        </div>

    </div>
</div>