<h2>Add  new post</h2>

<form action="" class="newPost" name="newpostform">
    <div class="d-flex flex-row justify-content-between mb-3">
        <label for="nickname">Nickname:</label>
        <input type="text" ng-model="nickname" id="nickname">
    </div>

    <textarea ng-model="newPostContent"></textarea>

    <h3>Add attachments</h3>

    <div class="links mb-3">
        <div class="d-flex flex-row justify-content-between align-items-center mb-3 newlink" ng-repeat="newlink in newlinks">
            <label>URL:</label>
            <input type="text" ng-model="newlink.url" class="full-width-field">
        </div>
        <a href="#" ng-click="addNewLinkField($event);">+ add link</a>
    </div>

    <div class="videos mb-3">
        <div class="d-flex flex-row justify-content-between align-items-center mb-3 newvideo" ng-repeat="newvideo in newvideos">
            <label>Youtube&nbspURL:</label>
            <input type="text" ng-model="newvideo.url" class="full-width-field">
        </div>
        <a href="#" ng-click="addNewVideoField($event);">+ add Youtube URL</a>
    </div>

    <div class="files mb-3">
        <div class="d-flex flex-row justify-content-between align-items-center mb-3 newvideo" ng-repeat="newfile in newfiles">
            <label>Picture:</label>

            <input type="file" ngf-select ng-model="newfile.file" name="file"
                   accept="image/*" ngf-max-size="2MB" required
                   ngf-model-invalid="errorFile">
        </div>
        <a href="#" ng-click="addNewFileField($event);">+ add picture (file)</a>
    </div>

    <div class="text-right">
        <button class="btn btn-primary" ng-click="sendNewPost($event)"><i class="icon-plus"></i>Add post</button>
    </div>

</form>